<script lang="ts" setup>
import { ref } from "vue";

const num = ref<string>("0");
</script>

<template>
  <v-container>
    <v-row>
      <v-col cols="12" sm="6" md="3">
        <v-text-field
          label="Please input Number"
          v-model="num"
          :rules="[(v) => v.length > 0 || 'Number is not empty!!']"
        ></v-text-field>
      </v-col>
    </v-row>
  </v-container>

  <v-container>
    <v-row>
      <v-col cols="1" v-for="index in parseInt(num)" :key="index">
        <h1>{{ index }}</h1>
      </v-col>
    </v-row>
  </v-container>
</template>
