<script setup lang="ts">
import { useCounterStore } from "@/stores/counter";
const countStore = useCounterStore();
</script>
<template>
  <div>First Component</div>
  <h3>{{ countStore.count }}</h3>
  <br />
  <v-btn @click="countStore.increment">INCREMENT</v-btn>
</template>
